<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQlrCDbaUxecrmChtlGJ0pDNuR1_ATBKA</string>
	<key>GCM_SENDER_ID</key>
	<string>760185848470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alikhan-IT.CodeBase</string>
	<key>PROJECT_ID</key>
	<string>codebase-3f185</string>
	<key>STORAGE_BUCKET</key>
	<string>codebase-3f185.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760185848470:ios:dacce3d26049e29fa1f8b7</string>
</dict>
</plist>